Flask==2.2.5
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
gunicorn==21.2.0

opencv-python==4.9.0.80
pygame==2.5.2
pandas==2.2.2
requests==2.31.0
google-api-python-client==2.126.0
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
openpyxl==3.1.2